//- === Component: Hero === -//
//- Vars: textPosition, bg_image, title, subtitle, description, buttonUrl, buttonText

//- Stylesheet:
block append stylesheets
  link(rel="stylesheet" href="./../components/hero/style.css")

//- Mixin:
mixin hero(textPosition, bg_image, title, subtitle, description, buttonUrl, buttonText, image, imageAlt)
  section.hero(style="background-image: url(" + bg_image + ")" class="hero--" + textPosition )
    .hero__content
      .hero__text
        //if image
          include ../image/_template.pug
          +image(image, imageAlt)

        if title
          if image
            h1.hero__text-title.visually-hidden= title
          else
            h1.hero__text-title= title

        if subtitle
          if image
            h2.hero__text-subtitle.visually-hidden= subtitle
          else
            h2.hero__text-subtitle= subtitle

        if description
          p.hero__text-description= description

        if buttonUrl
          .hero__text-button
            a.btn.btn--primary(href= buttonUrl)= buttonText

        if block
          .hero__text-block
            block
