//- === Import: Contact Links === -//

ul.contact-links
  li
    a(
      href="/contact.html"
      title="Contact us on our contact form"
      aria-label="Contact us on our contact form"
    )
      i.far.fa-envelope
      span Email

  li
    a(
      href="tel:9133621200"
      target="_blank"
      title="Contact by phone"
      aria-label="Contact by phone"
    )
      i.fas.fa-mobile
      span Phone: (913) 362-1200

  li
    a(
      href="https://www.angieslist.com/companylist/us/ks/prairie-village/richard-clayton-barrett%2C-asla-reviews-2269696.htm"
      target="_blank"
      rel="noopener"
      title="Visit us on Angies List"
      aria-label="Find us on Angies List"
    )
      i.fas.fa-list-ul
      span Angies List

  li
    a(
      href="https://www.linkedin.com/in/richard-barrett-83266618"
      target="_blank"
      rel="noopener"
      title="Visit us on Linked-in"
      aria-label="Find us on Linked-in"
    )
      i.fab.fa-linkedin-in
      span Linkedin

  li
    a(
      href="https://www.houzz.com/pro/richardclaytonbarrett/richard-clayton-barrett"
      target="_blank"
      rel="noopener"
      title="Visit us on Houzz"
      aria-label="Find us on Houzz"
    )
      i.fab.fa-houzz
      span Houzz
