//- === Import: Contact Links === -//

ul.contact-links
  li
    a(
      href="/interior.html"
      title="Contact us on our contact form"
      aria-label="Contact us on our contact form"
    )
      i.far.fa-envelope
      span Email

  li
    a(
      href="tel:1234567890"
      target="_blank"
      title="Contact by phone"
      aria-label="Contact by phone"
    )
      i.fas.fa-mobile
      span Phone: (124) 456-7890

  li
    a(
      href="https://www.angieslist.com"
      target="_blank"
      rel="noopener"
      title="Visit us on Angies List"
      aria-label="Find us on Angies List"
    )
      i.fas.fa-list-ul
      span Angies List

  li
    a(
      href="https://www.linkedin.com"
      target="_blank"
      rel="noopener"
      title="Visit us on Linked-in"
      aria-label="Find us on Linked-in"
    )
      i.fab.fa-linkedin-in
      span Linkedin

  li
    a(
      href="https://www.houzz.com"
      target="_blank"
      rel="noopener"
      title="Visit us on Houzz"
      aria-label="Find us on Houzz"
    )
      i.fab.fa-houzz
      span Houzz
